html,
body {
  height: 100%;
}
body {
  margin: 0;
  //   font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Fredoka One", cursive;
  background-color: rgb(53, 53, 53);
}



.metalloid {
  color: #1e445d;
  
}
.diatomic-nonmetal{
  color: #d81159;
}
.polyatomic-nonmetal {
  color: #00a000;
}
.actinide {
  color: #8671f0;
}
.lanthanide {
  color: #008f7a;
}
.noble-gas {
  color: #332b77f8;
}
.post-transition-metal{
  color: #7f4800;
}
.transition-metal{
  color: #815c55;
}
.alkaline-earth-metal{
  color: #e45143;
}
.alkali-metal{
  color:#8f2d56 ;
}