html,
body {
  height: 100%;
}
body {
  margin: 0;
  //   font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Fredoka One", cursive;
  background-color: rgb(53, 53, 53);
}

.Gas {
  border: 2px solid red;
  color: red;
}

.Solid {
  border: 2px solid #42c1fc;
  color: #42c1fc;
}

.Liquid {
  border: 2px solid rgb(0, 110, 255);
  color: rgb(0, 110, 255);
}
