.periodicTable{
    display: grid;
    grid-template-columns: repeat(18,90px);
    grid-template-rows: repeat(7, 120px);
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
   column-gap:10px ;
   
}

// .container{
//   margin: 20px;
//   padding: 20px;
//   font-size: 30px;
//   width: 300px;
//   padding-top: 90px;
// }

.example-ripple-container {
    cursor: pointer;
    
    text-size-adjust: inherit;
  
    width: 90px;
    height: 85px;
    line-height: 20px;
   
    user-select: none;
    
    
  }
  .p1{
  
    font-size: 11px;
   padding-left: 6px;
   

  }
  .p2{
    height: 24px;
    font-size: 26px;
    text-align: center;
  }
  .p3{
    
    font-size: 14px;
    text-align: center;
  }